.row {
    min-height: 95vh;
}

#Male, #Female {
border: 2px solid white;
}

#Male:hover, #Female:hover {
    color: white;
    background-color: blue !important;
}

#display{ 
    min-height: 140px;
}